:root {
  --primary-color: #f0e3ca;
  --font-primary: #1b1a17;
}

body {
  box-sizing: border-box;
  background-color: var(--primary-color);
  font-size: 16px;
  color: var(--font-primary);
  font-family: "Open Sans", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertikálne */
  align-items: center; /* Horizontálne */
  height: 100vh;
}

.navigácia {
  display: flex;
  justify-content: center;
}

.a-navigácia {
  margin-right: 1em;
  color: var(--font-primary);
}
.a-navigácia-active {
  margin-right: 1em;
  text-decoration: none;
  color: var(--font-primary);
  cursor: default;
}

.a-navigácia:visited {
  color: var(--font-primary);
}

h1 {
  font-size: 2rem;
  margin-top: 0;
}

main {
  padding: 2% 10%;
}

#container {
  display: grid;
  gap: 10px;
  text-align: center;
  justify-items: center;
  font-weight: 900;
  margin: auto;
}

.p-container {
  font-weight: normal;
  max-width: 36em;
  text-align: left;
}

label {
  font-weight: normal;
  padding: 0 0 8% 0;
}

.box-1 {
  display: grid;
  margin-bottom: 5%;
  background-color: var(--primary-color);
  border-color: var(--font-primary);
}

.box-2 {
  border: var(--font-primary);
  border-style: solid;
  border-radius: 20px;
  padding: 0.8em 2em;
  margin-bottom: 2%;
  background-color: var(--primary-color);
}

input[type="text"] {
  background-color: var(--primary-color);
  outline: none;
  font-size: 1.5em;
  text-align: center;
  border: var(--font-primary);
  border-bottom: solid;
  padding: 0.8em 0 0.3em;
}

::placeholder {
  color: gray;
}

input[type="button"] {
  border: none;
  outline: none;
  font-size: 1.5em;
  text-align: center;
  background-color: var(--primary-color);
  -webkit-appearance: none;
}

.výsledok {
  font-size: 1.5em;
  font-weight: normal;
  max-width: 400px;
}

/* Google Chrome */

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .box-1,
  .box-2 {
    max-width: 250px;
  }
}

input:-webkit-autofill {
  background-color: transparent !important;
  box-shadow: 0 0 0 50px var(--primary-color) inset;
  -webkit-box-shadow: 0 0 0 50px var(--primary-color) inset;
}

/* Mozilla Firefox */

@-moz-document url-prefix() {
  .box-1,
  .box-2 {
    max-width: none;
  }
}

@media only screen and (max-width: 688px) {
  h1 {
    font-size: 1.8em;
  }

  .a-navigácia, .a-navigácia-active {
    font-size: 14px;
  }
}
